/* Fonts */

@font-face {
    font-family: "Public Sans Bold";
    src: url("/assets/fonts/public-sans/PublicSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Public Sans Regular";
    src: url("/assets/fonts/public-sans/PublicSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Roboto Mono Regular";
    src: url("/assets/fonts/roboto-mono/RobotoMono-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Mono Semibold";
    src: url("/assets/fonts/roboto-mono/RobotoMono-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Mono Bold";
    src: url("/assets/fonts/roboto-mono/RobotoMono-Bold.ttf") format("ttf");
}

/* Root */

:root {
    --color-1: #1b1b1b;
    --color-2: #ffffff;
    --color-3: #0050d8;
    --color-4: #5942d2;
    --color-5: #ccc;
    --color-6: #e4deff;
    --color-7: #cfc4fd;
    --color-8: #3d2c9d;
    --font-1: 'Public Sans Bold', sans-serif;
    --font-2: 'Public Sans Regular', sans-serif;
    --font-3: "Roboto Mono Regular", monospace;
    --size-1: 0;
    --size-2: 0.0625rem;
    --size-3: .5rem;
    --size-4: 1rem;
    --size-5: 1.3rem;
    --size-6: 2rem;
    --size-7: 4.675rem;
    --size-8: 8rem;
    --size-9: 15rem;
}

/* Links */

main a, main a:visited {
    text-decoration: underline;
}

main a:hover, .card a, .card a:visited {
    text-decoration: none;
}

/* Colors ------- */

/* Primary */

a, a:hover {
    color: var(--color-3);
}

/* Secondary */

a:visited {
    color: var(--color-4);
}

/* Tertiary */

.card a, .card a:visited, .connect a, .connect a:visited, .connect a:hover, .connect a[href^="mailto"], .connect a[href^="mailto"]:visited, .connect a[href^="mailto"]:hover, .connect-footer a, .connect-footer a:visited, .connect-footer a:hover, .connect-footer a[href^="mailto"], .connect-footer a[href^="mailto"]:visited, .connect-footer a[href^="mailto"]:hover {
    color: var(--color-1);
}

/* Light */

.jumbotron, .footer, .bg-light {
    background: var(--color-2);
    background-color: var(--color-2) !important;
}

/* Jumbotron */

.jumbotron {
    margin: var(--size-1);
    padding: var(--size-7) var(--size-1);
}

/* Buttons */

.btn-primary, a.btn-primary, a.btn-primary:visited, a.btn-primary:active, .btn-primary:active {
    background: var(--color-2);
    color: var(--color-1);
    font-family: var(--font-3);
    text-decoration: none;
}

a.btn-primary, a.btn-primary:visited {
    border: var(--size-2) solid var(--color-4);
    box-shadow: 5px 5px 0 0 rgba(89, 66, 210, 1);
}

.btn-primary:hover, a.btn-primary:hover {
    background: var(--color-2);
    color: var(--color-1);
    border: var(--size-2) solid var(--color-4);
    box-shadow: 5px 5px 0 0 rgba(61, 44, 157, 1);
    transform: translateY(2px);
}

.btn-primary:active, a.btn-primary:active {
    background: var(--color-2);
    color: var(--color-1);
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 1);
    transform: translateY(5px);
}

/* Back to top */

#backToTopBtn {
    display: none;
    position: fixed;
    font-family: var(--font-3);
    bottom: var(--size-7);
    right: var(--size-8);
    background-color: var(--color-2);
    color: var(--color-1);
    border-radius: var(--size-2);
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    padding: var(--size-3) var(--size-4);
    border: var(--size-2) solid var(--color-1);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 1);
}

#backToTopBtn:hover {
    background-color: var(--color-2);
}

/* Dark */

.jumbotron h1, .jumbotron .lead, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .navbar, .navbar-toggler, a.navbar-brand, .navbar li a, .navbar li.active a, .navbar li.active a:visited, a.nav-link, a.nav-item, .navbar-light .navbar-nav .nav-link, footer, footer a, footer a:visited {
    color: var(--color-1);
}

/* Fonts ------- */

/* Headings */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, display-4, .display-5, .display-6 {
    letter-spacing: -.04em;
}

/* Lead */

.lead {
    font-family: var(--font-3);
}

.post p, .post li {
    font-family: var(--font-2);
}

/* Mono */
.card-text, .navbar li a, .navbar li.active a, .navbar li.active a:visited, a.nav-link, a.nav-item, .navbar-light .navbar-nav .nav-link {
    font-family: var(--font-3);
}

/* Regular */

body, .text-muted {
    font-family: var(--font-2);
}

/* Bold */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .navbar, .navbar-toggler {
    font-family: var(--font-1);
}

/* Extra bold */

a.navbar-brand, .navbar-brand {
    background-color: var(--color-6);
    color: var(--color-1) !important;
    font-family: var(--font-2);
    letter-spacing: -.02em;
    padding: var(--size-3) var(--size-4);
}

a.navbar-brand:hover, .navbar-brand:hover {
    background-color: var(--color-7) !important;
    color: var(--color-1) !important;
}

/* Sizes */

.jumbotron-home {
    height: 80vh;
}

*/ .post {
    margin-bottom: var(--size-5);
    margin-top: var(--size-5);
}

.post p, .post li {
    font-size: var(--size-5);
    line-height: var(--size-6);
}

.post p, .post ul, .post h2 {
    margin-bottom: var(--size-6);
}

.post h2 {
    margin-top: var(--size-6);
}

.lead {
    font-size: var(--size-6);
}

.card-deck .col, .card-deck .col-1, .card-deck .col-10, .card-deck .col-11, .card-deck .col-12, .card-deck .col-2, .card-deck .col-3, .card-deck .col-4, .card-deck .col-5, .card-deck .col-6, .card-deck .col-7, .card-deck .col-8, .card-deck .col-9, .card-deck .col-auto, .card-deck .col-lg, .card-deck .col-lg-1, .card-deck .col-lg-10, .card-deck .col-lg-11, .card-deck .col-lg-12, .card-deck .col-lg-2, .card-deck .col-lg-3, .card-deck .col-lg-4, .card-deck .col-lg-5, .card-deck .col-lg-6, .card-deck .col-lg-7, .card-deck .col-lg-8, .card-deck .col-lg-9, .card-deck .col-lg-auto, .card-deck .col-md, .card-deck .col-md-1, .card-deck .col-md-10, .card-deck .col-md-11, .card-deck .col-md-12, .card-deck .col-md-2, .card-deck .col-md-3, .card-deck .col-md-4, .card-deck .col-md-5, .card-deck .col-md-6, .card-deck .col-md-7, .card-deck .col-md-8, .card-deck .col-md-9, .card-deck .col-md-auto, .card-deck .col-sm, .card-deck .col-sm-1, .card-deck .col-sm-10, .card-deck .col-sm-11, .card-deck .col-sm-12, .card-deck .col-sm-2, .card-deck .col-sm-3, .card-deck .col-sm-4, .card-deck .col-sm-5, .card-deck .col-sm-6, .card-deck .col-sm-7, .card-deck .col-sm-8, .card-deck .col-sm-9, .card-deck .col-sm-auto, .card-deck .col-xl, .card-deck .col-xl-1, .card-deck .col-xl-10, .card-deck .col-xl-11, .card-deck .col-xl-12, .card-deck .col-xl-2, .card-deck .col-xl-3, .card-deck .col-xl-4, .card-deck .col-xl-5, .card-deck .col-xl-6, .card-deck .col-xl-7, .card-deck .col-xl-8, .card-deck .col-xl-9, .card-deck .col-xl-auto {
    padding-left: var(--size-1) !important;
    padding-right: var(--size-1) !important;
}

.card-deck {
    margin-top: var(--size-1);
}

.card {
    margin-bottom: var(--size-5) !important;
}

footer i {
    margin-top: var(--size-6);
    margin-left: var(--size-3);
    margin-right: var(--size-3);
}

/* Selection */

::selection {
    background-color: var(--color-6);
    /* Change the background color */
}

/* Images */

img {
    height: auto;
    width: 100%;
}

img.xs {
    max-width: var(--size-6);
}

img.sm {
    max-width: var(--size-7);
}

img.md {
    max-width: var(--size-8);
}

img.lg {
    max-width: var(--size-9);
}

img.line {
    margin-bottom: var(--size-5);
}

/* Borders */

img.line {
    border: var(--size-2) solid var(--color-5);
}

/*
nav {
    border-bottom: var(--size-2) solid var(--color-1);
}
*/

/* Nav */

.navbar-light .navbar-toggler {
    border-color: var(--color-2);
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Connect */

.connect-footer a, .connect-footer a:visited, .connect-footer a:hover, .connect-footer a[href^="mailto"], .connect-footer a[href^="mailto"]:visited, .connect-footer a[href^="mailto"]:hover {
    margin-right: var(--size-3);
}

/* Footer */

footer {
    margin-top: var(--size-4);
}

footer p {
    font-family: var(--font-3);
    margin: var(--size-1);
    padding: var(--size-4) var(--size-1);
}