/* Fonts */

@font-face {
    font-family: "Public Sans Light";
    src: url("/assets/fonts/public-sans/PublicSans-Light.woff2") format("woff2"),
        url("/assets/fonts/public-sans/PublicSans-Light.woff") format("woff");
}

@font-face {
    font-family: "Public Sans Regular";
    src: url("/assets/fonts/public-sans/PublicSans-Regular.woff2") format("woff2"),
        url("/assets/fonts/public-sans/PublicSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Public Sans Bold";
    src: url("/assets/fonts/public-sans/PublicSans-Bold.woff2") format("woff2"),
        url("/assets/fonts/public-sans/PublicSans-Bold.woff") format("woff");
}

:root {
    --color-1: #5b029c;
    --color-2: #212121;
    --color-3: #c9c9c9;
    --color-4: #ffffff;
    --color-5: #745fe9;
    --color-6: #f7ecff;
    --gradient-1: linear-gradient(135deg, #5b029c 13%, rgb(116, 95, 233) 73%);
    --gradient-2: linear-gradient(135deg, rgba(255, 255, 255, 0.15168065517222518) 13%, rgba(181, 72, 255, 0.05644264541754207) 73%);
    --font-1: 'Public Sans Bold', sans-serif;
    --font-2: 'Public Sans Regular', sans-serif;
    --font-3: 'Public Sans Medium', sans-serif;
    --font-4: 'Public Sans Light', sans-serif;
    --size-1: 0;
    --size-2: .5rem;
    --size-3: 1rem;
    --size-4: 1.2rem;
    --size-5: 2rem;
    --size-6: 3rem;
    --size-7: .25rem;
    --size-8: .625rem;
    --size-9: 4.675rem;
    --size-10: 1.5625rem;
    --size-11: 12.5rem;
    --size-12: 18.75rem;
    --size-13: 0.0625rem;
    --size-14: 15rem;
    --size-15: 10rem;
    --size-16: 1.5rem;
    --size-17: 2.25rem;
    --size-18: 8rem;
}

/* General */

body {
    color: var(--color-2);
    font-family: var(--font-3);
    font-size: var(--size-4);
}

/* Images */

img {
    height: auto;
    width: 100%;
}

img.xs {
    max-width: var(--size-9);
}

img.sm {
    max-width: var(--size-18);
}

img.md {
    max-width: var(--size-9);
}

img.lg {
    max-width: var(--size-14);
}

img.line {
    border: var(--size-13) solid var(--color-3);
    margin-bottom: var(--size-5);
}

/* Headings */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    color: var(--color-2);
    font-family: var(--font-1);
    letter-spacing: -.03em;
}

.h4 {
    line-height: var(--size-5);
}

ul.list-unstyled li {
    padding-bottom: var(--size-3);
}

a, a:visited, a:hover {
    color: var(--color-1);
}

h2 {
    padding-bottom: var(--size-3);
}

/* Navbar */

.navbar {
    background: var(--gradient-1);
    border-radius: var(--size-1);
    border-bottom: var(--size-13) solid var(--color-5);
}

a.navbar-brand, a.navbar-brand:visited {
    font-family: var(--font-1) !important;
}

a.navbar-brand:hover {
    background: none;
}

.navbar-toggler {
    border-color: var(--color-4);
}

.nanavbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler, a.navbar-brand, .navbar li a, .navbar li.active a, .navbar li.active a:visited, a.nav-link, a.nav-item {
    color: var(--color-4) !important;
    font-family: var(--font-2);
}

/* Cards */

.card {
    margin-bottom: var(--size-3) !important;
    padding-top: var(--size-10);
}

.card a {
    color: var(--color-2);
    text-decoration: none;
}

.card-deck .col, .card-deck .col-1, .card-deck .col-10, .card-deck .col-11, .card-deck .col-12, .card-deck .col-2, .card-deck .col-3, .card-deck .col-4, .card-deck .col-5, .card-deck .col-6, .card-deck .col-7, .card-deck .col-8, .card-deck .col-9, .card-deck .col-auto, .card-deck .col-lg, .card-deck .col-lg-1, .card-deck .col-lg-10, .card-deck .col-lg-11, .card-deck .col-lg-12, .card-deck .col-lg-2, .card-deck .col-lg-3, .card-deck .col-lg-4, .card-deck .col-lg-5, .card-deck .col-lg-6, .card-deck .col-lg-7, .card-deck .col-lg-8, .card-deck .col-lg-9, .card-deck .col-lg-auto, .card-deck .col-md, .card-deck .col-md-1, .card-deck .col-md-10, .card-deck .col-md-11, .card-deck .col-md-12, .card-deck .col-md-2, .card-deck .col-md-3, .card-deck .col-md-4, .card-deck .col-md-5, .card-deck .col-md-6, .card-deck .col-md-7, .card-deck .col-md-8, .card-deck .col-md-9, .card-deck .col-md-auto, .card-deck .col-sm, .card-deck .col-sm-1, .card-deck .col-sm-10, .card-deck .col-sm-11, .card-deck .col-sm-12, .card-deck .col-sm-2, .card-deck .col-sm-3, .card-deck .col-sm-4, .card-deck .col-sm-5, .card-deck .col-sm-6, .card-deck .col-sm-7, .card-deck .col-sm-8, .card-deck .col-sm-9, .card-deck .col-sm-auto, .card-deck .col-xl, .card-deck .col-xl-1, .card-deck .col-xl-10, .card-deck .col-xl-11, .card-deck .col-xl-12, .card-deck .col-xl-2, .card-deck .col-xl-3, .card-deck .col-xl-4, .card-deck .col-xl-5, .card-deck .col-xl-6, .card-deck .col-xl-7, .card-deck .col-xl-8, .card-deck .col-xl-9, .card-deck .col-xl-auto {
    padding-left: var(--color-1) !important;
    padding-right: var(--color-1) !important;
}

.connect {
    background: var(--gradient-1);
    font-family: var(--font-3);
}

.connect a, .connect a:visited, .connect {
    color: var(--color-4);
}

/* Jumbotron */

.jumbotron {
    background: var(--gradient-1);
    border-bottom: var(--size-13) solid var(--color-4);
    border-radius: var(--color-1);
    padding: var(--size-5) var(--size-1);
}

.jumbotron h1, .jumbotron {
    color: var(--color-4);
}

.jumbotron .lead {
    font-family: var(--font-4);
    color: var(--color-4);
    font-size: var(--size-5);
    letter-spacing: -.01em;
}

/* Main */

.lead {
    font-family: var(--font-4);
    color: var(--color-2);
    font-size: var(--size-5);
    letter-spacing: -.01em;
}

main .container {
    padding-bottom: var(--size-3);
    padding-top: var(--size-3);
}

main a, main a:visited {
    text-decoration: underline;
}

main a:hover {
    text-decoration: none;
}

blockquote {
    border-left: var(--size-7) solid var(--color-1);
    margin-left: var(--size-5);
    padding-left: var(--size-5);
    padding-right: var(--size-5);
    margin-bottom: var(--size-5);
    margin-top: var(--size-5);
}

/* Post */

.post p, .post li {
    font-size: var(--size-16) !important;
    line-height: var(--size-17);
}

.post p {
    padding-bottom: var(--size-16);
}

.post2 p, .post2 li {
    font-size: var(--size-4) !important;
    line-height: var(--size-5);
}

.post2 p {
    padding-bottom: var(--size-4);
}

/* Pagination */

.pagination li.page-item {
    font-family: var(--font-1);
    font-size: var(--size-3);
}

.page-item.active .page-link {
    background-color: var(--color-1);
    border-color: var(--color-1);
}

.pagination a {
    text-decoration: none;
    color: var(--color-2);
}

/* Buttons / nav pills */

.btn-primary, a.btn-primary, a.btn-primary:active, a.btn-primary:visited {
    background: var(--gradient-1);
    color: var(--color-4);
    font-family: var(--font-1);
    margin-bottom: var(--size-2);
    margin-top: var(--size-2);
    text-decoration: none;
    border: var(--size-13) solid var(--color-5);
}

a.btn-primary:hover {
    background: var(--gradient-1);
    border: var(--size-13) solid var(--color-5);
    color: var(--color-4);
}

/* Footer */

.footer {
    background: var(--gradient-1);
    margin: var(--size-5) var(--size-1) var(--size-1) var(--size-1) !important;
    padding: var(--size-5) var(--size-1);
    border-top: var(--size-13) solid var(--color-4);
    font-family: var(--font-2);
}

.footer a, .footer a:visited, .footer {
    color: var(--color-4);
}

.footer p {
    margin: var(--size-1);
    padding: var(--size-2) var(--size-1);
}

.footer ul.list-unstyled li {
    margin: var(--size-1);
    padding: var(--size-1) var(--size-1) var(--size-7) var(--size-1);
}

.footer a {
    text-decoration: none;
}

/* Selection */

::selection {
    background: var(--color-1);
    /* WebKit/Blink Browsers */
    color: var(--color-4);
}

::-moz-selection {
    background: var(--color-1);
    /* Gecko Browsers */
    color: var(--color-4);
}

/* Responsive typography */

@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem !important;
    }

    h2 {
        font-size: 1.8rem !important;

    }

    h3 {
        font-size: 1.3rem !important;
    }

    p.lead {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) and (max-width: 992px) {

    h1 {
        font-size: 4.1rem !important;
    }

    h2 {
        font-size: 2.2rem !important;

    }

    h3 {
        font-size: 1.4rem !important;
    }

    p.lead {
        font-size: 1.6rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

    h1 {
        font-size: 4rem !important;
    }

    h2 {
        font-size: 2.4rem !important;

    }

    h3 {
        font-size: 1.6rem !important;
    }

    p.lead {
        font-size: 1.8rem;
    }

}

@media (min-width: 1200px) {

    h1 {
        font-size: 4rem !important;
    }

    h2 {
        font-size: 2.4rem !important;

    }

    h3 {
        font-size: 1.6rem !important;
    }

    p.lead {
        font-size: 2rem;
    }

}