/* Fonts */

@font-face {
    font-family: "Public Sans Extra Bold";
    src: url("/assets/fonts/public-sans/PublicSans-ExtraBold.woff2") format("woff2");
}

@font-face {
    font-family: "Public Sans Bold";
    src: url("/assets/fonts/public-sans/PublicSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Public Sans Regular";
    src: url("/assets/fonts/public-sans/PublicSans-Regular2.woff2") format("woff2");
}

@font-face {
    font-family: "Public Sans Light";
    src: url("/assets/fonts/public-sans/PublicSans-Light2.woff2") format("woff2");
}

@font-face {
    font-family: "Public Sans Thin";
    src: url("/assets/fonts/public-sans/PublicSans-Thin2.woff2") format("woff2");
}

/* Root */

:root {
    --color-1: #0050d8;
    --color-2: #000000;
    --color-3: #c9c9c9;
    --color-4: #ffffff;
    --color-5: #0050d8;
    --font-1: 'Public Sans Bold', sans-serif;
    --font-2: 'Public Sans Regular', sans-serif;
    --font-3: 'Public Sans Thin', sans-serif;
    --font-4: 'Public Sans Extra Bold', sans-serif;
    --size-1: 0;
    --size-2: 0.0625rem;
    --size-3: .5rem;
    --size-4: 1rem;
    --size-5: 1.3rem;
    --size-6: 2rem;
    --size-7: 4.675rem;
    --size-8: 8rem;
    --size-9: 15rem;
}

/* Links */

main a, main a:visited {
    text-decoration: underline;
}

main a:hover, .btn-primary, a.btn-primary, a.btn-primary:active, a.btn-primary:visited, a.btn-outline-primary {
    text-decoration: none;
}

/* Colors ------- */

/* Primary */

a, a:hover {
    color: var(--color-1);
}

/* Secondary */

a:visited {
    color: var(--color-5);
}

/* Tertiary */

.connect a, .connect a:visited {
    color: var(--color-2);
}

/* Light */

.jumbotron h1, .jumbotron .lead, a.btn-primary:hover, a.btn-outline-primary {
    color: var(--color-4);
}

.footer, .bg-light, .btn-primary, a.btn-primary, a.btn-primary:visited, a.btn-outline-primary:hover {
    background: var(--color-4);
    background-color: var(--color-4) !important;
}

/* Dark */

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .navbar, .navbar-toggler, a.navbar-brand, .navbar li a, .navbar li.active a, .navbar li.active a:visited, a.nav-link, a.nav-item, .navbar-light .navbar-nav .nav-link, footer, footer a, footer a:visited, a.btn-primary, a.btn-primary:visited, a.btn-outline-primary:hover {
    color: var(--color-2);
}

.jumbotron, a.btn-primary:hover {
    background: var(--color-2);
}

/* Fonts ------- */

/* Light */

.lead {
    font-family: var(--font-3);
}

/* Regular */

body, .text-muted, .card-text, .navbar li a, .navbar li.active a, .navbar li.active a:visited, a.nav-link, a.nav-item, .navbar-light .navbar-nav .nav-link {
    font-family: var(--font-2);
}

/* Bold */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .navbar, .navbar-toggler, .btn-primary, a.btn-primary, a.btn-primary:active, a.btn-primary:visited {
    font-family: var(--font-1);
}

/* Extra bold */

a.navbar-brand {
    font-family: var(--font-4);
}

/* Sizes */

.jumbotron-home {
    height: 100vh;
}

.post {
    margin-bottom: var(--size-5);
    margin-top: var(--size-5);
}

.post p, .post li {
    font-size: var(--size-5);
    line-height: var(--size-6);
}

.post p, .post ul, .post h2 {
    margin-bottom: var(--size-6);
}

.post h2 {
    margin-top: var(--size-6);
}

.lead {
    font-size: var(--size-6);
}

.card-deck .col, .card-deck .col-1, .card-deck .col-10, .card-deck .col-11, .card-deck .col-12, .card-deck .col-2, .card-deck .col-3, .card-deck .col-4, .card-deck .col-5, .card-deck .col-6, .card-deck .col-7, .card-deck .col-8, .card-deck .col-9, .card-deck .col-auto, .card-deck .col-lg, .card-deck .col-lg-1, .card-deck .col-lg-10, .card-deck .col-lg-11, .card-deck .col-lg-12, .card-deck .col-lg-2, .card-deck .col-lg-3, .card-deck .col-lg-4, .card-deck .col-lg-5, .card-deck .col-lg-6, .card-deck .col-lg-7, .card-deck .col-lg-8, .card-deck .col-lg-9, .card-deck .col-lg-auto, .card-deck .col-md, .card-deck .col-md-1, .card-deck .col-md-10, .card-deck .col-md-11, .card-deck .col-md-12, .card-deck .col-md-2, .card-deck .col-md-3, .card-deck .col-md-4, .card-deck .col-md-5, .card-deck .col-md-6, .card-deck .col-md-7, .card-deck .col-md-8, .card-deck .col-md-9, .card-deck .col-md-auto, .card-deck .col-sm, .card-deck .col-sm-1, .card-deck .col-sm-10, .card-deck .col-sm-11, .card-deck .col-sm-12, .card-deck .col-sm-2, .card-deck .col-sm-3, .card-deck .col-sm-4, .card-deck .col-sm-5, .card-deck .col-sm-6, .card-deck .col-sm-7, .card-deck .col-sm-8, .card-deck .col-sm-9, .card-deck .col-sm-auto, .card-deck .col-xl, .card-deck .col-xl-1, .card-deck .col-xl-10, .card-deck .col-xl-11, .card-deck .col-xl-12, .card-deck .col-xl-2, .card-deck .col-xl-3, .card-deck .col-xl-4, .card-deck .col-xl-5, .card-deck .col-xl-6, .card-deck .col-xl-7, .card-deck .col-xl-8, .card-deck .col-xl-9, .card-deck .col-xl-auto {
    padding-left: var(--size-1) !important;
    padding-right: var(--size-1) !important;
}

.card-deck {
    margin-top: var(--size-5);
}

.card {
    margin-bottom: var(--size-5) !important;
}

footer i {
    margin-top: var(--size-6);
    margin-left: var(--size-3);
    margin-right: var(--size-3);
}

/* Images */

img {
    height: auto;
    width: 100%;
}

img.xs {
    max-width: var(--size-6);
}

img.sm {
    max-width: var(--size-7);
}

img.md {
    max-width: var(--size-8);
}

img.lg {
    max-width: var(--size-9);
}

img.line {
    margin-bottom: var(--size-5);
}

/* Borders */

img.line {
    border: var(--size-2) solid var(--color-3);
}

nav {
    border-bottom: var(--size-2) solid var(--color-2);
}

footer {
    border-top: var(--size-2) solid var(--color-2);
}

a.btn-primary, a.btn-primary:active, a.btn-primary:visited, a.btn-primary:hover {
    border: var(--size-2) solid var(--color-2);
}

a.btn-outline-primary, a.btn-outline-primary:hover {
    border: var(--size-2) solid var(--color-4);
}

/* Nav */

.navbar-light .navbar-toggler {
    border-color: var(--color-4);
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Footer */

footer {
    margin-top: var(--size-4);
}

footer p {
    margin: var(--size-1);
    padding: var(--size-4) var(--size-1);
}