<div class="byline">
  <p>
    <small>
      <i class="fa-solid fa-circle-user" aria-hidden="true"></i>
      By:
      {{ page.author }}
    </small>
  </p>
  {% if page.date or post.date or item.date %}
    <p>
      <small>
        <i class="fa-regular fa-calendar" aria-hidden="true"></i>
        Posted:
        {% if post.date %}
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date }}</time>
        {% elsif item.date %}
          <time datetime="{{ item.date | date_to_xmlschema }}">{{ item.date | date: site.date }}</time>
        {% elsif page.date %}
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date }}</time>
        {% endif %}
      </small>
    </p>
  {% endif %}
  <div id="read-time">
    {% assign words = content | split: ' ' %}
    {% assign minutes = words.size | divided_by: 175.0 %}
    <p>
      <small>
        <i class="fa-regular fa-clock" aria-hidden="true"></i>
        Estimated read time: {{ minutes | round }} minutes</small>
    </p>
  </div>
</div>
