<div class="connect-footer mb-2">
  {% if site.email %}
    <a href="{{ site.email }}" aria-label="Email">
      <i class="fa-regular fa-envelope fa-lg"></i>
    </a>
  {% endif %}
  {% if site.calendar %}
    <a href="{{ site.calendar }}" aria-label="Calendar">
      <i class="fa-regular fa-calendar fa-lg"></i>
    </a>
  {% endif %}
  {% if site.mastodon %}
    <a href="{{ site.mastodon }}" aria-label="Mastodon">
      <i class="fa-brands fa-mastodon fa-lg"></i>
    </a>
  {% endif %}
  {% if site.bluesky %}
    <a href="{{ site.bluesky }}" aria-label="Bluesky">
      <i class="fa-brands fa-bluesky fa-lg"></i>
    </a>
  {% endif %}
  {% if site.linkedin %}
    <a href="{{ site.linkedin }}" aria-label="LinkedIn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
  {% endif %}
  {% if site.github %}
    <a href="{{ site.github }}" aria-label="GitHub">
      <i class="fab fa-github fa-lg"></i>
    </a>
  {% endif %}
  {% if site.instagram %}
    <a href="{{ site.instagram }}" aria-label="Instagram">
      <i class="fab fa-instagram fa-lg"></i>
    </a>
  {% endif %}
  {% if site.rss %}
    <a href="{{ site.rss }}" aria-label="RSS">
      <i class="fas fa-rss fa-lg"></i>
    </a>
  {% endif %}
</div>