<div class="card-group text-center mb-3">
  {% if site.email %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.email }}" class="stretched-link">
              <i class="fa-regular fa-envelope fa-2x"></i>
            </a>
          </p>
          <p class="card-title">Email</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.calendar %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.calendar }}" class="stretched-link">
              <i class="fa-regular fa-calendar fa-2x"></i>
            </a>
          </p>
          <p class="card-title">Calendar</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.mastodon %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.mastodon }}" class="stretched-link">
              <i class="fa-brands fa-mastodon fa-2x"></i>
            </a>
          </p>
          <p class="card-title">Mastodon</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.linkedin %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.linkedin }}" class="stretched-link">
              <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
          </p>
          <p class="card-title">LinkedIn</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.bluesky %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.bluesky }}" class="stretched-link">
              <i class="fa-brands fa-bluesky fa-2x"></i>
            </a>
          </p>
          <p class="card-title">Bluesky</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.twitter %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.twitter }}" class="stretched-link">
              <i class="fab fa-x-twitter fa-2x"></i>
            </a>
          </p>
          <p class="card-title">Twitter</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.github %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.github }}" class="stretched-link">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </p>
          <p class="card-title">GitHub</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.instagram %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.instagram }}" class="stretched-link">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </p>
          <p class="card-title">Instagram</p>
        </div>
      </div>
    </div>
  {% endif %}
  {% if site.rss %}
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex align-items-stretch">
      <div class="card mx-2 my-2 shadow">
        <div class="card-body">
          <p>
            <a href="{{ site.rss }}" class="stretched-link">
              <i class="fas fa-rss fa-2x"></i>
            </a>
          </p>
          <p class="card-title">RSS</p>
        </div>
      </div>
    </div>
  {% endif %}
</div>