<div class="card-deck text-center">
    {% if site.twitter_username %}
    <div class="card">
        <div class="card-body">
            <p><a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter fa-2x"></i></a></p>
            <p class="card-title"><a href="https://twitter.com/{{ site.twitter_username }}" class="stretched-link">Twitter</a></p>
        </div>
    </div>
    {% endif %}
    {% if site.linkedin_link %}
    <div class="card">
        <div class="card-body">
            <p><a href="{{ site.linkedin_link }}"><i class="fab fa-linkedin fa-2x"></i></a></p>
            <p class="card-title"><a href="{{ site.linkedin_link }}" class="stretched-link">LinkedIn</a></p>
        </div>
    </div>
    {% endif %}
    {% if site.facebook_link %}
    <div class="card">
        <div class="card-body">
            <p><a href="{{ site.facebook_link }}"><i class="fab fa-facebook fa-2x"></i></a></p>
            <p class="card-title"><a href="https://twitter.com/{{ site.facebook_link }}" class="stretched-link">Facebook</a></p>
        </div>
    </div>
    {% endif %}
    {% if site.github_username %}
    <div class="card">
        <div class="card-body">
            <p><a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github fa-2x"></i></a></p>
            <p class="card-title"><a href="https://github.com/{{ site.github_username }}" class="stretched-link">GitHub</a></p>
        </div>
    </div>
    {% endif %}
    {% if site.instagram_username %}
    <div class="card">
        <div class="card-body">
            <p><a href="https://instagram.com/{{ site.instagram_username }}"><i class="fab fa-instagram fa-2x"></i></a></p>
            <p class="card-title"><a href="https://instagram.com/{{ site.instagram_username }}" class="stretched-link">Instagram</a></p>
        </div>
    </div>
    {% endif %}
    {% if site.flickr_link %}
    <div class="card">
        <div class="card-body">
            <p><a href="{{ site.flickr_link }}"><i class="fab fa-flickr fa-2x"></i></a></p>
            <p class="card-title"><a href="{{ site.flickr_link }}" class="stretched-link">Flickr</a></p>
        </div>
    </div>
    {% endif %}
    {% if site.rss_link %}
    <div class="card">
        <div class="card-body">
            <p><a href="{{ site.rss_link }}"><i class="fas fa-rss fa-2x"></i></a></p>
            <p class="card-title"><a href="{{ site.rss_link }}" class="stretched-link">RSS</a></p>
        </div>
    </div>
    {% endif %}
</div>