<footer>
  {% unless page.url == '/connect' %}
  <wa-button
    href="{{ site.baseurl}}/connect"
    id="subscribe-button"
    aria-label="Connect"
    tabindex="-1"
    size="s"
    class="subscribe">
    Connect
  </wa-button>
  <script>
    const feedbackButton = document.getElementById("subscribe-button");
    let footerVisible = false;
    let pageIsShort = false;

    function updateButton() {
      const visible = document.documentElement.scrollTop > window.innerHeight * 0.4 && !footerVisible && !pageIsShort;
      feedbackButton.style.opacity = visible ? '1' : '0';
      feedbackButton.setAttribute('tabindex', visible ? '0' : '-1');
    }

    const footerObserver = new IntersectionObserver(([entry]) => {
      footerVisible = entry.isIntersecting;
      if (footerVisible && document.documentElement.scrollTop === 0) {
        pageIsShort = true;
      }
      updateButton();
    });

    footerObserver.observe(document.querySelector('footer'));
    window.addEventListener('scroll', updateButton);
  </script>
  {% endunless %}
  <div class="content-wide footer-bar">
    <div>
      <ul class="footer-nav">
        {% for item in site.data.nav.docs %}
          {% if item.url %}
            <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      <p>
        <a href="https://my.scangov.com/public/key6541-1749843847485/lukefretwell-com/report">
          ScanGov Scorecard <i class="fa-solid fa-star" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
{% include js.html %}
