<footer>
  <div class="border-top mt-5 pt-3 text-end">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
          {% include connect-footer.html %}
          <p class="small">
            <small>
              <a href="{{ site.baseurl}}/">{{ site.title }}</a>
            </small>
          </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      </div>
    </div>
  </div>
</footer>
{% include js.html %}</body></html>