{% if page.layout == "home" %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 mt-2 pt-5 pb-3">
        <h1 class="display-5 mb-3">{{ page.title }}</h1>
        <p class="lead fs-4 py-3">{{ page.description }}</p>
        {% if page.button %}
          <a
            class="btn btn-primary btn-lg border shadow"
            href="{{ site.baseurl }}{{ page.button-link }}"
            role="button">{{ page.button }}</a>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
    </div>
  </div>
{% elsif page.layout == "note" %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
      <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <!--
          {% if page.folder %}  <nav aria-label="breadcrumb">    <ol class="breadcrumb">      <li class="breadcrumb-item small">        <a href="{{ site.baseurl }}/{{ page.folder }}" class="nav-link">{{ page.label }}</a>
              </li>
            </ol>
          </nav>
        {% endif %}
        -->
        {% if page.title %}
          <h1 class="display-5 mb-4">{{ page.title }}</h1>
        {% endif %}
      </div>
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>
    <div class="row border-bottom">
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        {% if page.img-feat %}
          <figure>
            <img
              src="{{ site.baseurl }}/assets/img/posts/{{ page.img-feat }}"
              alt="{{ page.img-alt }}"
              class="mb-2 border">
            {% if page.img-caption %}
              <figcaption>
                <p class="small text-body-secondary">
                  <small>
                    {% if page.img-link %}
                      <a href="{{ site.baseurl }}{{ page.img-link }}" class="nav-link text-body-secondary">
                    {% endif %}
                    {{ page.img-caption }}
                    {% if page.img-link %}
                      </a>
                    {% endif %}
                  </small>
                </p>
              </figcaption>
            {% endif %}
          </figure>
        {% endif %}
      </div>
      <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
        {% if page.description %}
          <p class="lead text-body-secondary mb-4">{{ page.description }}</p>
        {% endif %}
        {% include byline.html %}
      </div>
      <div class="col-12 col-sm-12 col-md-1 col-lg-1 col-xl-1"></div>
    </div>
  </div>
{% else %}
  <div class="pb-3 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
          {% if page.folder %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ site.baseurl }}/{{ page.folder }}" class="link-dark">{{ page.label }}</a>
                </li>
              </ol>
            </nav>
          {% endif %}
          <h1 class="display-5 mb-3">{{ page.title }}</h1>
          <p class="lead">{{ page.description }}</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
          {% if page.button %}
            <a
              class="btn btn-primary btn-lg border shadow"
              href="{{ site.baseurl }}{{ page.button-link }}"
              role="button">{{
page.button }}</a>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-12 col-lg-1 col-xl-1"></div>
      </div>
    </div>
  </div>
{% endif %}