{% if page.layout == "home" %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 pt-5 pb-3">
        <h1 class="display-3 mb-3">{{ page.title }}</h1>
        <p class="lead py-3">{{ page.description }}</p>
        {% if page.button %}
          <a
            class="btn btn-primary btn-lg mt-3"
            href="{{ page.button-link }}"
            role="button">{{
page.button }}</a>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
    </div>
  </div>
{% elsif page.layout == "post" %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 pt-5">
        {% if page.folder %}
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/{{ page.folder }}" class="link-dark">{{ page.label }}</a>
              </li>
            </ol>
          </nav>
        {% endif %}
        <h1 class="display-4 mb-3">{{ page.title }}</h1>
        {% if page.description %}
          <p class="lead py-3">{{ page.description }}</p>
        {% endif %}
        {% if page.author %}
          <p class="pb-3">
            By {{ page.author }} &middot; {{ page.date | date: "%B %-d, %Y" }}
          </p>
        {% endif %}
        {% if page.img-feat %}
          <figure>
            <img
              src="{{ site.baseurl }}/assets/img/posts/{{ page.img-feat }}"
              alt="{{ page.img-alt }}"
              class="mb-3 drop-shadow">
            {% if page.img-caption %}
              <figcaption>
                <p class="small text-body-secondary">
                  <small>
                    {% if page.img-link %}
                      <a href="{{ site.baseurl }}{{ page.img-link }}" class="nav-link text-body-secondary">
                    {% endif %}
                    {{ page.img-caption }}
                    {% if page.img-link %}
                      </a>
                    {% endif %}
                  </small>
                </p>
              </figcaption>
            {% endif %}
          </figure>
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
    </div>
  </div>
{% else %}
  <div class="pb-3 pt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% if page.folder %}
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/{{ page.folder }}" class="link-dark">{{ page.label }}</a>
                </li>
              </ol>
            </nav>
          {% endif %}
          <h1 class="display-5 mb-3">{{ page.title }}</h1>
          <p class="lead">{{ page.description }}</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
          {% if page.button %}
            <a
              class="btn btn-primary btn-lg mt-3"
              href="{{ page.button-link }}"
              role="button">{{
page.button }}</a>
          {% endif %}
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      </div>
    </div>
  </div>
{% endif %}