{% assign posts = site.posts %}
{% if paginator %}
  {% assign posts = paginator.posts %}
{% endif %}
<div class="card-grid">
  {% for post in posts limit: include.limit %}
    <wa-card>
      {% if post.img-og %}
        <figure>
          <img
            src="{{ site.baseurl }}/assets/img/{{ post.img-og }}"
            alt="{{ post.img-alt }}"
            loading="lazy"
            class="border">
          {% if post.img-caption %}
            <figcaption>
              <p>
                <small>
                  {% if post.img-link %}
                    <a href="{{ post.img-link }}">
                  {% endif %}
                  {{ post.img-caption }}
                  {% if post.img-link %}
                    </a>
                  {% endif %}
                </small>
              </p>
            </figcaption>
          {% endif %}
        </figure>
      {% endif %}
      {% if page.layout == "home" %}
        <h3>
      {% else %}
        <h2>
      {% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}" class="card-link">
            {{ post.title }}
          </a>
      {% if page.layout == "home" %}
        </h3>
      {% else %}
        </h2>
      {% endif %}
      {% if post.description %}
        <p class="card-meta">{{ post.description }}</p>
      {% endif %}
      <p class="post-date card-meta">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
      </p>
    </wa-card>
  {% endfor %}
</div>
{% unless limitVar %}
{% if paginator.total_pages > 1 %}
<nav aria-label="Page navigation" class="posts-pagination">
  <ul>
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path }}">Previous</a></li>
    {% else %}
      <li><span aria-disabled="true">Previous</span></li>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <li><span aria-current="page"><strong>{{ page }}</strong></span></li>
      {% else %}
        <li><a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path }}">Next</a></li>
    {% else %}
      <li><span aria-disabled="true">Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endunless %}
