<div class="card-deck">
    {% if include.limit %}
        {% assign limitVar = include.limit | plus: 0 %}
    {% endif %}
    {% for item in site.data.press.docs limit:limitVar %}
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 d-flex align-items-stretch">
            <div class="card">
                <div class="card-body">
                    {% if item.img %}
                        <img src="{{ site.baseurl }}/img/press/{{item.img }}" alt="{{ item.source }} logo" class="sm rounded line">
                    {% endif %}
                    <h3 class="card-title h5">
                        <a href="{{ site.baseurl }}{{ item.url }}">
                            {{ item.title }}
                        </a>
                    </h3>
                    <p class="card-text">
                        <em>{{ item.source }}</em>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>