{% if include.limit %}
  {% assign limitVar = include.limit | plus: 0 %}
{% endif %}
<div class="card-group">
  {% for item in site.data.reading.docs limit: limitVar %}
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 d-flex align-items-stretch">
      <div class="card mx-1">
        <div class="card-body">
          <h2 class="h5">
            <a href="{{ site.baseurl }}{{ item.url }}" class="stretched-link">
              {{ item.title }}
            </a>
          </h2>
          <p class="card-text">{{ item.author }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>