<ul class="share-links">
  <li><small>Share:</small></li>
  <li>
    <a
      href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-linkedin" aria-hidden="true"></i>
      <span class="visually-hidden">LinkedIn (opens in new tab)</span>
    </a>
  </li>
  <li>
    <a
      href="https://bsky.app/share?url={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
      <span class="visually-hidden">Bluesky (opens in new tab)</span>
    </a>
  </li>
  <li>
    <a
      href="https://mastodon.social/share?url={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
      <span class="visually-hidden">Mastodon (opens in new tab)</span>
    </a>
  </li>
  <li>
    <a
      href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
      <span class="visually-hidden">X (opens in new tab)</span>
    </a>
  </li>
  <li>
    <a
      href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
      target="_blank"
      rel="noopener noreferrer">
      <i class="fa-brands fa-facebook" aria-hidden="true"></i>
      <span class="visually-hidden">Facebook (opens in new tab)</span>
    </a>
  </li>
  <li>
    <a href="mailto:?subject=Check this out&body={{ site.url }}{{ page.url }}">
      <i class="fa-solid fa-envelope" aria-hidden="true"></i>
      <span class="visually-hidden">Email</span>
    </a>
  </li>
  <li>
    <button type="button" onclick="copyLink()" class="share-copy-btn">
      <i class="fa-solid fa-link" aria-hidden="true"></i>
      <span class="visually-hidden">Copy link</span>
    </button>
  </li>
</ul>
