<div class="card-grid">
  {% if page.title == "Luke Fretwell" %}
    {% assign works = site.work | where: "featured", true %}
  {% else %}
    {% assign works = site.work %}
  {% endif %}
  {% assign heading = include.heading | default: "h2" %}
  {% for page in works limit: include.limit %}
    <wa-card>
      <{{ heading }}>
        <a href="{{ site.baseurl }}{{ page.url }}" class="card-link">
          {{ page.title }}
        </a>
      </{{ heading }}>
      <p class="card-meta">{{ page.description }}</p>
    </wa-card>
  {% endfor %}
</div>
