---
layout: compress
---
{% include header.html %}
<a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  {% capture body %}
    {% if page.img %}
      <div class="about-image">
        <img
          src="{{ baseurl }}/assets/img/{{ page.img }}"
          srcset="{{ baseurl }}/assets/img/luke-fretwell-640.jpg 640w, {{ baseurl }}/assets/img/{{ page.img }} 1200w"
          sizes="(max-width: 768px) 100vw, 960px"
          alt="{{ page.img-alt }}"
          width="1200"
          height="800"
          fetchpriority="high"
          class="border">
        {% if page.img-download %}
          <div>
            <small>
              <a href="{{ baseurl }}/assets/img/{{ page.img-download }}">
                <i class="fa-solid fa-download" aria-hidden="true"></i>
                Download high-resolution image
              </a>
            </small>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="post">
      {{ content }}
    </div>
  {% endcapture %}
  <div class="content-wide content-main">
    <div>{{ body }}</div>
  </div>
</main>
{% include footer.html %}
