---
layout: compress
---
{% include header.html %}
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  {% capture body %}
    <div class="cv-download">
      {% if page.download-link %}
        <a href="{{ page.download-link }}" class="btn btn-sm">{{ page.download-text }}</a>
      {% endif %}
    </div>
    <section>
      {{ content }}
    </section>
  {% endcapture %}
  {% include toc-layout.html html=body toc_html=content %}
</main>
{% include analytics.html %}
{% include footer.html %}
