---
layout: compress
---
{% include header.html %}
<a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  {% capture body %}
    <div class="cv-download">
      {% if page.download-link %}
        <wa-button href="{{ page.download-link }}" size="s">{{ page.download-text }}</wa-button>
      {% endif %}
    </div>
    <section>
      {{ content }}
    </section>
  {% endcapture %}
  <div class="content-wide content-main">
    <div>{{ body }}</div>
  </div>
</main>
{% include footer.html %}
