---
layout: default
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 post-note">
        {% include image.html %}
        {% if page.author %}
          <p>
            By {{ page.author }} &middot; {{ page.date | date: "%B, %-d %Y" }}
          </p>
        {% endif %}
        {{ content | markdownify }}
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
</main>
{% include footer.html %}