---
layout: compress
---
{% include header.html %}
<a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  <div class="content-wide content-main">
    <div>
      {% include image.html %}
      {% if page.author %}
        <p>
          By {{ page.author }} &middot; <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B, %-d %Y" }}</time>
        </p>
      {% endif %}
      <article class="post-note">
        {{ content }}
      </article>
    </div>
  </div>
</main>
{% include footer.html %}
