---
layout: default
---
{% include header.html %}
{% include nav.html %}
<main>
    {% include jumbotron.html %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 post">
                {% if page.author %}
                <p>
                    By {{ page.author }} &middot; {{ page.date | date: "%B, %-d %Y"}}
                </p>
                {% endif %}
                {{ content | markdownify }}
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</main>
{% include footer.html %}