---
layout: home
---
{% include header.html %}
{% include nav.html %}
<main>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="display-3">{{ page.title }}</h1>
                    {% if page.lead %}
                    <p class="lead">{{ page.lead }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </div>
    {% for item in site.data.profile.docs %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p>{{ item.description | markdownify }}</p>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><a href="{{ item.url }}" class="btn btn-primary">About {{ item.firstname }}</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Press</h2>
                <ul>
                    {% for item in site.data.press.docs limit:5 %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a>, <em>{{ item.source }}</em></li>
                    {% endfor %}
                </ul>
                <p><a href="/press/" class="btn btn-primary">Press</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Work</h2>
                <div class="card-deck books">
                    {% for item in site.work %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ item.url }}" class="stretched-link">
                                <img class="card-img-top" src="{{ site.baseurl }}/img/work/{{ item.img }}" alt="{{ item.title }} logo">
                                <h3 class="h5">{{ item.title }}</h3>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><a href="/work/" class="btn btn btn-primary">Work</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Posts</h2>
                <div class="card-deck">
                    {% for post in site.posts limit:3 %}
                    <div class="card">
                        <div class="card-body">
                            {% if post.feat-img %}
                            <a href="{{ post.url }}">
                                <img class="card-img-top" src="{{ site.baseurl }}/img/posts/{{ post.feat-img }}" alt="">
                                {% endif %}
                                <h3>{{ post.title }}</h3>
                            </a>
                            <p><small class="text-muted">{{ post.date | date: "%B, %-d %Y"}}</small></p>
                            <p class="card-text">{{ post.excerpt }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><a href="/posts/" class="btn btn-primary">Posts</a></p>
            </div>
        </div>
    </div>
    {% include analytics.html %}
    {% include footer.html %}