---
layout: compress
---

{% include header.html %}
<a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  <div class="content-wide home-section">
    <div>
      {% if page.button-services %}
        <div class="home-section-inner">
          <h2>{{ page.button-services }}</h2>
          {% if page.text-services %}
            <p class="wa-body-l">{{ page.text-services }}</p>
          {% endif %}
          <wa-button href="{{ page.button-link-services }}" size="s">{{ page.button-services }}</wa-button>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="content-wide home-section">
    <div>
      {% if page.button-works %}
        <div class="home-section-inner">
          <h2>{{ page.button-works }}</h2>
          {% include works.html heading="h3" %}
          <wa-button href="{{ page.button-link-works }}" size="s">{{ page.button-works }}</wa-button>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="content-wide home-section">
    <div>
      {% if page.button-press %}
        <div class="home-section-inner">
          <h2>{{ page.button-press }}</h2>
          {% include press.html limit=4 heading="h3" %}
          <wa-button href="{{ page.button-link-press }}" size="s">{{ page.button-press }}</wa-button>
        </div>
      {% endif %}
    </div>
  </div>
</main>

{% include footer.html %}
