---
layout: compress
---

{% include header.html %}
<a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  <div class="content-wide home-section">
    <div>
      {% if page.button-services %}
        <div class="home-section-inner">
          <h2>{{ page.button-services }}</h2>
          {% if page.text-services %}
            <p class="wa-body-l">{{ page.text-services }}</p>
          {% endif %}
          <wa-button href="{{ page.button-link-services }}" size="s">{{ page.button-services }}</wa-button>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="content-wide home-section">
    <div>
      {% if page.button-book %}
        <div class="home-section-inner">
          <h2>{{ page.button-book }}</h2>
          <div class="home-book">
            <img
              src="{{ site.baseurl }}/assets/img/pages/{{ page.img-book }}"
              alt="{{ page.img-book-alt }}"
              class="border lg">
            <div>
              <h3>{{ page.text-book-title }}</h3>
              <p>{{ page.text-book }}</p>
              <wa-button href="{{ page.button-link-book }}" size="s">{{ page.button-book }}</wa-button>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="content-wide home-section">
    <div>
      {% if page.button-works %}
        <div class="home-section-inner">
          <h2>{{ page.button-works }}</h2>
          {% include works.html heading="h3" %}
          <wa-button href="{{ page.button-link-works }}" size="s">{{ page.button-works }}</wa-button>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="content-wide home-section">
    <div>
      {% if page.button-press %}
        <div class="home-section-inner">
          <h2>{{ page.button-press }}</h2>
          {% include press.html limit=4 heading="h3" %}
          <wa-button href="{{ page.button-link-press }}" size="s">{{ page.button-press }}</wa-button>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="content-wide home-section">
    <div>
      {% if page.button-notes %}
        <div class="home-section-inner">
          <h2>{{ page.button-notes }}</h2>
          {% include posts.html limit=4 %}
          {% if site.posts.size > 1 %}
            <wa-button href="{{ page.button-link-notes }}" size="s">{{ page.button-notes }}</wa-button>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</main>

{% include footer.html %}
