---
layout: note
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 pt-5">
        <div class="post-note">
          {{ content | markdownify }}
        </div>
        {% include share.html %}
        <p class="small border-top pt-5 mt-5 text-body-secondary">
          <a href="{{ site.url }}">Luke Fretwell</a>
          is an entrepreneur, writer and civic hacker.
        </p>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
  </div>
</main>
{% include footer.html %}