---
layout: compress
---
{% include header.html %}
{% include nav.html %}
{% assign notes_href = site.baseurl | append: "/notes/" %}
{% include breadcrumb.html href=notes_href label="Notes" %}
<main id="main-content">
  <article>
    {% include read-time-bar.html %}
    {% include jumbotron.html %}
    {% capture body %}
      <div class="post mb-5">
        {% include anchor_headings.html html=content anchorBody="<i class='fa-solid fa-link'></i>" anchorClass="heading-hashtag" %}
      </div>
      {% include share.html %}
      {% include bio.html %}
      {% include topics.html %}
    {% endcapture %}
    {% include toc-layout.html html=body toc_html=content %}
  </article>
</main>
{% include more-notes.html %}
{% include analytics.html %}
{% include footer.html %}
