---
layout: compress
---
{% include header.html %}
<a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  <div class="content-wide content-main">
    <div>
      <div class="post-note">
        {{ content | markdownify }}
      </div>
      <p class="post-footer">
        <a href="{{ site.url }}">Luke Fretwell</a>
        is an entrepreneur, writer and civic hacker.
      </p>
    </div>
  </div>
</main>
{% include footer.html %}
