---
layout: post
---
{% include header.html %}
{% include nav.html %}
<main>
    <div class="container post">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h1 class="display-4">{{ page.title }}</h1>
                {% if page.excerpt %}
                <p class="lead">{{ page.excerpt }}</p>
                {% endif %}
                {% for author in site.authors %}
                <p class="text-muted"><a href="{{ author.url }}"><img src="{{ site.baseurl }}/img/people/{{ author.avatar }}" alt="{{ author.name }}" title="{{ author.name }}" class="avatar"></a> {{ author.name }} &middot; {{ page.date | date: "%B %-d, %Y" }}</p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    {% if page.feat-img %}
    <div class="feat-img">
        {% include post-feat-img.html image=page.feat-img alt=page.feat-img-alt %}
    </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="post-main">
                    {{ content | markdownify }}
                </div>
                <div class="profile">
                    <h2>About {{ author.name }}</h2>
                    {{ author.content | markdownify }}
                    <p class="profile-social">
                        {% if author.email %}
                        <a href="mailto:{{ author.email }}"><i class="fas fa-envelope fa-lg"></i></a>
                        {% endif %}
                        {% if author.website %}
                        <a href="{{ author.website }}"><i class="fas fa-laptop fa-lg"></i></a>
                        {% endif %}
                        {% if author.github_username %}
                        <a href="https://github.com/{{ author.github_username }}"><i class="fab fa-github fa-lg"></i></a>
                        {% endif %}
                        {% if author.twitter_username %}
                        <a href="https://twitter.com/{{ author.twitter_username }}"><i class="fab fa-twitter fa-lg"></i></a>
                        {% endif %}
                        {% if author.linkedin_link %}
                        <a href="{{ author.linkedin_link }}"><i class="fab fa-linkedin fa-lg"></i></a>
                        {% endif %}
                        {% if author.instagram_username %}
                        <a href="https://instagram.com/{{ author.instagram_username }}"><i class="fab fa-instagram fa-lg"></i></a>
                        {% endif %}
                        {% if author.flickr_link %}
                        <a href="{{ author.flickr_link }}"><i class="fab fa-flickr fa-lg"></i></a>
                        {% endif %}
                        {% if author.rss_link %}
                        <a href="{{ author.rss_link }}"><i class="fas fa-rss fa-lg"></i></a>
                        {% endif %}
                    </p>
                </div>
                {% endfor %}
                {% include comments.html %}
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Posts</h2>
                <div class="card-deck">
                    {% for post in site.posts limit:3 %}
                    <div class="card">
                        <div class="card-body">
                            {% if post.feat-img %}
                            <a href="{{ post.url }}"><img class="card-img-top" src="{{ site.baseurl }}/img/posts/{{ post.feat-img }}" alt="{{ post.title }}"></a>
                            {% endif %}
                            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                            <p><small class="text-muted">{{ post.date | date: "%B, %-d %Y"}}</small></p>
                            <p class="card-text">{{ post.excerpt }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><a href="/posts/" class="btn btn-primary">Posts</a></p>
            </div>
        </div>
    </div>
</main>
{% include anchor_links.html %}
{% include analytics.html %}
{% include footer.html %}