---
layout: compress
---

{% include header.html %}
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  {% capture body %}
    <div class="post">
      {% for item in site.data.quotes.docs %}
        <figure class="card-quote">
          <blockquote>
            <p>{{ item.quote }}</p>
          </blockquote>
          <figcaption class="quote-attribution">
            {{ item.name }}<br>{{ item.role }}
          </figcaption>
        </figure>
      {% endfor %}
    </div>
  {% endcapture %}
  {% include toc-layout.html html=body %}
</main>
{% include analytics.html %}
{% include footer.html %}
