---
layout: compress
---

{% include header.html %}
<a href="#main-content" class="visually-hidden-focusable">Skip to main content</a>
{% include nav.html %}
<main id="main-content">
  {% include jumbotron.html %}
  <div class="content-wide content-main">
    <div class="post">
      {% for item in site.data.quotes.docs %}
        <figure class="card-quote">
          <blockquote>
            <p>{{ item.quote }}</p>
          </blockquote>
          <figcaption>
            <small>{{ item.name }}<br>{{ item.role }}</small>
          </figcaption>
        </figure>
      {% endfor %}
    </div>
  </div>
</main>
{% include footer.html %}
