---
layout: work
---
{% include header.html %}
{% include nav.html %}
<main>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="display-4">{{ page.title }}</h1>
                    {% if page.excerpt %}
                    <p class="lead">{{ page.excerpt }}</p>
                    {% endif %}
                </div>
                <div class="col-sm-4">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-deck books">
                    {% for item in site.work %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ item.url }}" class="stretched-link">
                                <img class="card-img-top" src="{{ site.baseurl }}/img/work/{{ item.img }}" alt="{{ item.title }} logo">
                                <h2 class="h5">{{ item.title }}</h2>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% include analytics.html %}
{% include footer.html %}