---
layout: work
---
{% include header.html %}
{% include nav.html %}
<main>
  {% include jumbotron.html %}
  {% capture body %}
    <article class="post">
      {{ content | markdownify }}
      {% if page.website %}
        <a
          href="{{ page.website }}"
          class="btn btn-primary my-3 shadow border"
          role="button">{{ page.title }} website</a>
      {% endif %}
    </article>
    {% if page.press %}
      <section aria-labelledby="press-heading">
        <h2 id="press-heading" class="mt-5 pt-5 border-top">Press</h2>
        <p>{{ page.title }} in the news.</p>
        <div class="card-group mt-3 mb-4">
          {% include press-work.html %}
        </div>
      </section>
    {% endif %}
  {% endcapture %}
  {% include content-wrapper.html body=body %}
</main>
{% include footer.html %}